body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  display: inline-flex;
  border-bottom: 1px solid seashell;
  width: 100%;
}

.logo {
  height: 50px;
  margin-left: 10px;
  justify-content: flex-start;
}

.mission {
  top: 70px;
  position: relative;
  flex: initial;
  background-size: cover;
  background-image: url("../../resources/images/img-mission-background.jpg");
}

.featured {
  display: flex;
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}

.featured img {
  height: 200px;
  width: 300px;
}

.locations {
  background-size: cover;
  background-image: url("../../resources/images/img-locations-background.jpg");
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.downtown .bayside .oakdale {
  height: 300px;
  width: 300px;
  background-color: black;
  flex-direction: column;
}

footer {
  justify-content: center;

}

#copyright {
  justify-content: flex-start;
}
